@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/MyriadPro-LightSemiExt.eot');
	src: local('☺'), url('/fonts/MyriadPro-LightSemiExt.woff') format('woff'), url('/fonts/MyriadPro-LightSemiExt.ttf') format('truetype'), url('/fonts/MyriadPro-LightSemiExt.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('/fonts/MyriadPro-Regular.woff') format('woff'), url('/fonts/MyriadPro-Regular.ttf') format('truetype'), url('/fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body *{
	font-family: 'MyriadPro';
}