.header__main-panel {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 65px;

    
    .logo {
        display: flex;
        align-items:center;
        .svg_logo {
            width:16.52%;
            max-width: 55px;
            min-width: none;
            max-height: 55px;
        }

        .logo__text {
            h1 {
                font-size: 33px;
                padding-top: 4px;
                padding-left: 3px;
                span {
                    text-transform: uppercase;
                }
            }

            .logo__subtittle {
                display: none;
            } 
        }
    }

    .header__main-panel__form {
        width: 57.3558%;
        height:35px;
        display: flex;

        padding-left: 23px;
        padding-bottom: 2px;
        .header__main-panel__form__list {
            width:65px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items:center;
            background:#f1f1f1;
            border-radius: 5px 0 0 5px;
            margin-right: 1px;
            padding-left: 3px;
            cursor: pointer;
            span {
                position: relative;
                top:1px;
                transform: rotate(180deg);
                font-size: 10px;
                margin-left: 9px;
            }
        }

        .header__main-panel__form__search {
            width:87.0056%;
            height: 100%;
            border:none;
            background:#fff;
        }

        .header__main-panel__form__button {
            cursor:pointer;
            width:49px;
            height: 100%;
            background:$orange;
            border:none;
            border-radius:0 5px 5px 0;

            .svg_search {
                width:20px;
                height:21px;
                fill:#fff;
            }
        }
    }

    .header__info-block {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;


        img {
            width:35px;
            height:35px;
            padding-left: 21px;
        }

        span {
            width:109px;
            font-weight: 300;
        }
    }

    .header__basket {
        display: flex;
        position: relative;
        img {
            margin-top: 9px;
            margin-right: 14px;

        }
        .basket_number {
            color:$orange;
            position:absolute;
            top:-5px;
            left:8px;
        }
    }
}