.header__pop-up-email {
    position: absolute;
    top:19px;
    right:150px;
    z-index: 100;
padding-top: 21px;
    div {
        width:163px;
        height:45px;
        color:$white;
        background:$dark-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border:none;
        border-radius: 40px;
        box-shadow:-4px 6px 24px 0px rgba(0, 0, 0, 0.49);
        cursor: pointer;
    }
}