.header__wrapper {
    background:$bg_gray;

    .header__main-menu__wrapper {
        background: $green;
        width:100%;
        height:48px;
        display: flex;
        align-items:center;

        .header__main-menu {
            display: flex;
            justify-content: space-between;

            li {
                display: flex;
                align-items:center;

                svg {
                    fill: $white;
                    box-sizing:border-box;
                }

                .svg_email {
                    width:24px;
                    height:19px;
                }

                .svg_telephone {
                    padding-right: 5px;
                    width:20px;
                    height: 20px;
                }

                a{
                    color:$white;
                }

            }

        }

    }
    @import "header_main-panel.scss";
    @import "header_products-menu.scss";

}