.main-content__center-block {
    width: 58.193%;
    min-height: 473px;
    height:100%;
    box-sizing: border-box;
    .center-slider {
    height: 100%;
    min-height: 473px;
        .center-slider__wrapper {
            height: 100%;
            min-height: 473px;
            .center-slider-slide {
                height: 100%;
                min-height: 473px;
                display: flex;
                justify-content: space-between;
                background: #232323;
                padding:58px 84px 0px 61px;
                box-sizing: border-box;
                .center-slider__left-content {
                    display: flex;
                    flex-direction: column;
                    p {
                        color: #787878;
                        font-size: 16px;
                        font-weight: 300;
                        margin-bottom: 68px;
                    }
                    div {
                    
                        span {
                            display: block;
                            min-width: 426px;
                            font-size: 40px;
                            color:#fff;
                            
                        }
                        p {
                            padding-top: 19px;
                            font-size: 18px;
                            color:#fff;
                        }
                    }
                    button {
                        width:130px;
                        height:35px;
                    }
                }
                .center-slider__right-content {
                    width:255px;
                    display: flex;
                    align-items: center;
                    img{
                        min-width:170px;
                        width:100%;
                        margin-bottom: 55px;
                    }
                }
            }
        }
    }

    .swiper-pagination {
        bottom:25px;

        .swiper-pagination-bullet {
            width:10px;
            height:10px;
            border:1px solid #fff;
            background:none;
            box-sizing: border-box;
            margin:0 6px;
        }

        .swiper-pagination-bullet-active {
            background:#fff;
            border:1px solid #fff;
        }
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

}