.header__wrapper { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background:#f1f1f1;
    padding:0 3.666666667% 0 3.666666667%;
    .header__main-menu__wrapper {
        width:73px;
        height:98px;
        background:none;
        .header__main-menu__container {
            width:100%;
            height:100%;
            flex-direction: row;
            position: relative;

            .header__burger {
                display:block;
                background: $orange;
                min-width:73px;
                height:73px;
                border:none;
                box-sizing:border-box;
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .header__burger-icon, .header__burger-icon:before, .header__burger-icon:after {
                    width:30px;
                    height:3px;
                    background:#fff;

                }

                .header__burger-icon:before, .header__burger-icon:after {
                    content:'';
                    position: absolute;

                }

                .header__burger-icon {
                    position: relative;
                }

                .header__burger-icon:before {
                    top:-8px;
                    left:0;
                }

                .header__burger-icon:after {
                    top:8px;
                    left:0;
                }

            }

            .header__main-menu_list {
                display: none;
                position: absolute;
                top:-500px;

                .header__main-menu {
                    flex-direction: column;
                    align-items: center;
                    
                    li {
                        text-align: center;
                        font-size: 24px;
                        margin-bottom: 15px;
                    }

                    li:first-child {
                        margin: 0;
                    }

                    .header__main-menu__vertical_line {
                        display: none;
                    }
                }
            }

            .header__main-menu__contacts {
                display: none;
                position: absolute;
                top:-100px;
            }

        }
    }

    /* *Adaptive-icons */
    .header__adative-dtn-block {
        display: flex;
        justify-content: space-between;
        max-width: 226px;
        width:32.285%;
        .header__adaptive-search {
            display: block;
            width:51px;
            height:59px;

            svg {
                width:100%;
                height: 100%;
                fill: green;
            }
        } 

        .header__adaptive-telephone {
            display: block;
            width:46px;
            height: 57px;

            svg {
                width:100%;
                height:100%;
                fill: green;
            }
        } 

        .header__adaptive-bascet {
            position: relative;
            display: block;
            width:56px;
            height:48px;
            padding-top: 7px;

            img {
                width:100%;
                height:100%;
            }

            .basket_number {
                color:$orange;
                position: absolute;
                font-size: 25px;
                top:-12px;
                left: 20px;
            }
        } 
    }

    /* *Header_main-panel */

    .header__main-panel {
        width:40%;
        margin: 0;
        margin-right: 9%;
        h1 {
            font-size: 33px;
        }
        .logo {
            padding-left: 5px;
            
            img {
                width:55px;
                height:55px;
            }

            .logo__text {
                padding-left: 10px;
                h1 {
                    padding: 0;
                    font-size: 30px;
                }    
                .logo__subtittle {
                    display:block;
                    font-size: 18px;
                    font-weight: 300;
                    color:$light-gray;
                }
            }
        
        }

        .header__main-panel__form {
            
            display: none;

        }

        .header__info-block {

            display: none;
        }

        .header__basket {

            display: none;
        }

    }

    /* *header__products-menu*/

    .header__products-menu__wrapper {
        height: 83px;
        display: flex;
        align-items: center;
        background:#f1f1f1;  
        border-top:1px solid #e5e5e5;     

        .header__products-menu__adaptive-btn {
            width:100%;
            display: flex;
            justify-content: space-between;
            font-size: 30px;
        }

        .header__products-menu {
            display: none;
        }
    }    

}

/***Slider ******/

.main-content {
    width:100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .main-content__center-block {

        .center-slider {
            min-width:500px;
            position: relative;
            .center-slider__wrapper {
                width:100%;
                .center-slider-slide {
                    width:100%;
                    min-height: 555px;
                    justify-content:space-between;
                    align-items:flex-start;
                    padding: 64px 37px 0 31px;

                    .center-slider__left-content {
                        justify-content: flex-start;
                        align-items:flex-start;
                        p {
                            padding-top:22px;
                            margin-bottom: 47px;
                            text-align:left;
                            font-size: 25px;
                        }
                        div {
                            span {
                                max-width: 385px;
                                min-width: auto;
                                font-size: 40px;
                                text-align: left;
                            }

                            p{
                                padding-top: 29px;
                                font-size: 25px;
                                margin-bottom: 38px;

                            }
                        }
                        button {
                            width:213px;
                            height:53px;
                            border-radius: 45px;
                            font-size: 30px;
                        }
                    }

                    .center-slider__right-content {
                        display: block;
                        width:275px;
                        align-self: center;
                    }
                }
            }
        }

        .swiper-pagination {
            bottom:40px;
    
            .swiper-pagination-bullet {
                width:16px;
                height:16px;
                margin:0 10px;
            }

            .swiper-pagination-bullet-active {
                width:14px;
                height:14px;
            }
        }
    
        .swiper-button-prev, .swiper-button-next {
            display: block;
            color:#fff;
            font-family: 'MyriadPro';
            font-size: 46px;
            font-weight: 300;
            
        }

        .swiper-button-prev {
            padding-top: 222px;
            left:32px;
        }
        .swiper-button-prev:after, .swiper-button-next:after {
            display: none;
        }

        .swiper-button-next {
            padding-top: 222px;
            right:32px;
        }
    }

    .main-content__right-block {
        display: flex;
        width:92.1333%;
        margin:30px auto 0 auto;
        justify-content:flex-start;
        padding: 82px 0 0 60px;

        .main-content__right-block__adaptive-img {
            display: block;
        }

        img {
            display: none;
        }

        div {
            padding-top:23px;
            span {
                font-size: 25px;
                color:$dark-gray;
                margin-bottom: 10px;
            }
            p {
                font-size: 50px;
                margin-bottom: 40px;
            }
        }

        span {
            font-size: 30px;
        }
    }


}


.brands {
    ul {

        li {
            width: 50%;
            //min-width: 170px;
            height:168px;
            border-bottom: 1px solid #f4f2f2;
            a {
                height:120px;
                padding-top: 18px;
                box-sizing: border-box;
                font-size: 30px;
                .brands__mob-img {
                    display:block;
                }
                .brands__desctop-img {
                    display:none;
                }
            }
        }

        li:last-child {
            border:none;
        }

    }

}