.header__wrapper {
    /* *Header_main_menu */
    .header__main-menu__wrapper {
        .header__main-menu__container {
            .header__main-menu_list {
                width:75%;
                .header__main-menu {
                    .header__main-menu__vertical_line {
                        display: none;
                    }
                }
            }

            .header__main-menu__contacts {
                width:25%;
            }
        }
    }
    /* *Header_main-panel */

    .header__main-panel {
        
        .header__main-panel__form {
            width:50%;
        }

    }
}