/********Mian-content*****/

.main-content {
    .main-content__left-block {
        display: none;
    }
    .main-content__center-block {
        width:100%;
    }

    .main-content__right-block {
        display: none;
    }
}