
.header__wrapper {
    .header__main-menu__wrapper {

        .header__main-menu__container {
                
            .header__main-menu_list {

                .header__main-menu {


                    li {
                        font-size: 13px;

                    }

                }
                
            }

        }

        .header__main-menu__contacts {
            font-size: 14px;
        }

    }

    /* *Header_main-panel */

    .header__main-panel {
        font-size: 14px;
        h1 {
            font-size: 33px;
        }
    }

}