/****Colors****/
    $white:#fff;
    $light-gray:#171717;
    $gray:#303030;
    $dark-gray:#121212;
    $orange: #ffaf2d;
    $green:#00aa4b;
    $bg_gray:#e8e7e7;
/****Fonts*****/
@import "reset.scss";
@import "grid.scss";
@import "header.scss";
@import "main-content.scss";

@import "brands.scss";
@import "news.scss";

@import "recommend.scss";
@import "offers.scss";
/*********Fonts**************/
@font-face {
	font-family: 'MyriadPro';
	src: url('/fonts/MyriadPro-LightSemiExt.eot');
	src: local('☺'), url('/fonts/MyriadPro-LightSemiExt.woff') format('woff'), url('/fonts/MyriadPro-LightSemiExt.ttf') format('truetype'), url('/fonts/MyriadPro-LightSemiExt.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('/fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('/fonts/MyriadPro-Regular.woff') format('woff'), url('/fonts/MyriadPro-Regular.ttf') format('truetype'), url('/fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body *{
	font-family: 'MyriadPro';
}
/******************************/

body {
    min-width: 696px;
    background:#f4f2f2;
    color:$dark-gray;
}

input, button {
    outline:none;
}

._button {
    width:132px;
    height:45px;
    border-radius:20px;
    background:$orange;
    border:none;
    color:#fff;
    font-size: 18px;
}

.pop-up__wrapper {
    position: fixed;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,.5);
    left:0;
    top:48px;
    z-index: 40;
    }

.active {
    display: block;
}

.hide {
    display:none;
}


._news__container__info {

    width:100%;
    display: flex;
    justify-content: space-between;

    span {
        font-size: 16px;
        color:$green;
    }

    p {
        color:$light-gray;
    }
    
}